<ion-content class= "ion-padding">
 <h1>Rallikysymykset</h1>
 <h3>Aikasi oli {{ durationSeconds }} sekuntia</h3>
 <p>Paina ralliautoa aloittaaksesi uudelleen</p>
 <img src="../../assets/imgs/rallycar.png" (click)="goHome()" tappable />
</ion-content>
